#edu{
    width:100%;
    height:550px;
    overflow: hidden;
    border-top: 1px solid #242047;
    border-left: 1px solid #242047;
    background-color: white;
    display: grid;
    color:#242047;
    grid-template-rows: 50% auto;
  
    #eduUpper{
        padding-left: 9%;
        padding-top: 0%;
        height: 100%;
        display: grid;
        grid-template-columns: 10% auto;
        #eduDate{

            color:rgb(147, 157, 162);
            display: inline;
            padding-bottom:0%;
            padding-left:1%;

    
        }
        p{
            margin-top:0%;
            padding-left:1%;
            font-size: 2vw;
            font-weight: 200;

        }
        #eduCert{
            border-bottom: 1px solid #d8d7e9;
            margin-bottom:1%;
        }
        
    }
    #eduLow{
        padding-top: 0%;
        margin-top:0%;
        height: 100%;
        #eduLowBachelor{
            padding-top:0%;
            padding-left:8%;
            margin-top:3%;
            display: grid;
            grid-template-rows: 10% 0% auto;
            p{
                margin-top:0%;
                padding-left:5%;
                margin-left:8%;
                font-size: 2vw;
            }
        }
        #eduTitle{
            padding-top:0%;
            padding-left:2%;
            padding-bottom: 0%;
            margin-left:8%;
            margin-bottom:0%;
            margin-top:0%;
            font-size: 6vw;
            font-weight: 600;
            border-left: 5px solid rgb(186, 212, 237);
    
        }
        #eduDate{
            margin-left:8%;
            color:rgb(147, 157, 162);
            display: inline;
            padding-bottom:0%;
            padding-left:5%;

    
        }
        
       

    }
    
  
}