<div data-aos="fade-up"  id="edu">
  <div parallax id="header">  <h1 >EDUCATION</h1></div>

 <div id="eduLow">
        <p data-aos="fade-up"  id="eduTitle">
            EDUCATION
        </p>
        <div id="eduLowBachelor">
          <div id="eduDate">2015-Present</div> 
          <p>Bachelor in Computer Science,<br> University of Crete</p><i class="fa fa-graduation-cap" aria-hidden="true" style=" z-index:-1; font-size: 50px;"></i>
      </div>
     
    </div>
    <div id="eduUpper">
        <div><i class="fa fa-google" aria-hidden="true" style=" z-index:-1; font-size: 50px; padding-top:120%;"></i></div>

        <div><p id="eduCert">CERTIFICATIONS</p>
        <div id="eduDate">2017</div><p>Grow Greek Tourism Online, Google</p>
        <div id="eduDate">2018</div><p>Mobile Sites, Google</p></div>
    </div>
   


</div>
