.social{
    height:100px;
    width:100%;
    padding-top:2%;
    top:0%;
    .fa{
        color: white;

        margin-left: 48%;
    }
    p{
        color:white;
        font-weight: 200;
        font-size: 1vw;
        text-align: right;
        padding-right:1%;
        right:0%;
        bottom:0%;
    }
}