
.about{
    margin-top: -10%;    
    height:70vw;
    width:100%;
    /*overflow: auto;*/
    background-image: url('me.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -10vw;


    #aboutMe{
        padding-left:0%;
        min-height: 500px; 
        width:100%;
    }
    #aboutRightside{
        width:40vw;
        right:0%;
        margin-right:0%;
        top:0%;
        padding-top:10vw;
        height:25vw;
        color:#242047;
        padding-right:1%;
        padding-left:1%;
        font-weight: 600;
        font-size: 5vw;
        position: absolute;
        border-left:10px solid #242047;
        overflow: auto; 
    
    }
    
    .aboutArrow{
        border: solid #242047;
        top:30vw;
        left:10%;
        border-width: 0px 10px 10px 0px;
        padding:20px;
        display: inline-block;
        z-index:2;
        position: absolute;
        z-index:9;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        display: none;
    }
}
