

<div parallax class="about">
  <div  id="aboutMe" >  
  </div>
  <div data-aos="fade-down"  id="aboutRightside">
    <p style="margin-bottom:0%;">this is me,<br> stelios
    </p>
    <p style="font-weight: 200; font-size: 2vw; padding-top:0%;">WELCOME</p>
    <i class="aboutArrow"></i>

  </div>
</div>