<div data-aos="fade-up" parallax class="captures">
    <div parallax id="header">  <h1 >CAPTURES</h1></div>

  <p data-aos="fade-up" >CAPTURES</p>

  <crystal-gallery [images]="myImages" [config]="myConfig"></crystal-gallery>

</div>

