.captures{
    width:100%;
    height:1150px;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    border-top: 1px solid #242047;
    

    
    p{
        padding-top:1%;
        padding-left:1%;
        margin-left:4%;
        margin-top:0%;
        font-size: 6vw;
        font-weight: 600;
        border-left: 5px solid rgb(186, 212, 237);

    }
  
}