.graphics{
    height:465px;
    width:100%;
    top:0%;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 50% auto;
    border-top: 1px solid #242047;

    p{
        cursor:pointer;
        padding-top:0%;
        padding-bottom:2%;
        padding-left:2%;
        margin-top:0%;
        margin-left:5%;
        display:block;
        font-size: 1.3vw;
        border-bottom:1px solid #d9d9e1;

    }
    p:hover{
        transition: 0.3s;
        border-bottom:1px solid #95949e;

    }
    #graphicsDate{
        color:rgb(147, 157, 162);
        display: inline;
        padding-bottom:0%;


    }
    .graphicsArrow{
        border: solid #242047;
        border-width: 0px 1px 1px 0px;
        padding:13px;
        margin-right:2%;
        top:1.8vw;
        display: inline-block;
        z-index:2;
        position: relative;
        z-index:9;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
    #graphicsLeft{
        height:100% !important;
        max-height:400px;
        overflow:hidden !important;
        max-width: 500px;
        width: 100%;
        padding-top: 0%;
        padding-left: 5%;
        #graphicsLeftTitle{
            display: block;
        }
        p{
           // margin-top:10%;
            margin-left:5%;
            padding-left:2%;
            padding-right:2%;
            width:auto;
            font-size: 4vw;
            border:none;
            font-size: 6vw;
            font-weight: 600;
            border-left: 5px solid rgb(186, 212, 237);

        }
       

       
        //display: none;
        //width:50%;
    }
    #graphicsRight{
        overflow: scroll;
        padding-top:1%;
        border-left:1px solid #d0cfdf;
        padding-left:3%;
        //width:50%;
        //margin-left:40%;
    }
    #logo1{
        cursor:pointer;
        display: none;
    }
    #logo2{
        cursor:pointer;
        padding-top:25%;
        display: none;
    }
    #logo3{
        cursor:pointer;
        display: none;
    }
    #logo4{        
        padding-top:15%;
        cursor:pointer;
        display: none;
    }
    #logo5{
        cursor:pointer;
        display: none;
    }
}