<div data-aos="fade-down" parallax class="graphics">
    <div parallax id="header">  <h1 >GRAPHICS</h1></div>

  <div id="graphicsLeft">
      <p data-aos="fade-up"  id="graphicsLeftTitle">GRAPHIC DESIGNS</p>
      <crystal-gallery id="logo1" [images]="myLogos3" [config]="myConfig2"></crystal-gallery>
      <crystal-gallery id="logo2" [images]="myLogos5" [config]="myConfig2"></crystal-gallery>
      <crystal-gallery id="logo3" [images]="myLogos1" [config]="myConfig2"></crystal-gallery>
      <crystal-gallery id="logo4" [images]="myLogos4" [config]="myConfig2"></crystal-gallery>
      <crystal-gallery id="logo5" [images]="myLogos2" [config]="myConfig2"></crystal-gallery>

  </div>
  <div id="graphicsRight">
    <a (click)="showLogo1()">
      <i class="graphicsArrow"></i>
      <div id="graphicsDate">2018</div> <p>Postgraduates' Club of the Computer Science Department, University of Crete</p>
    </a>
    <a (click)="showLogo2()">
      <i class="graphicsArrow"></i>
      <div id="graphicsDate">2018</div> <p>Science and Technology Park of Crete, FORTH</p>
    </a>
      <a (click)="showLogo3()">
      <i class="graphicsArrow"></i>
      <div id="graphicsDate">2017</div> <p>Athens Welcome, Greek Tourism Startup</p>
    </a>
    <a (click)="showLogo4()">
      <i class="graphicsArrow"></i>
      <div id="graphicsDate">2016</div> <p>TAXI Business Card</p>
    </a>
    <a (click)="showLogo5()">
      <i class="graphicsArrow"></i>
      <div id="graphicsDate">2015</div> <p>Bonsai Flowershop Logo</p>
    </a>
  </div>
</div>

