.skills{
    height:350px;
    width:100%;
    padding-top:0%;
    top:0%;
    background-color: white;
    color:#242047;
    border-top: 1px solid #242047;
    display: grid;
    grid-template-rows: 35% auto;
    #skillsLeft{
        margin-left:4%;
        font-size: 6vw;
        font-weight:600;
        
        p{
            margin-top:0%;
            padding-left:1%;
            border-left: 5px solid rgb(186, 212, 237);

        }
    }
    #skillsRight{
        display: grid;
        grid-template-rows: 10% auto;
        margin-left:5%;
        font-size: 2vw;
        #skillsSkills{
            border-left: 1px solid #242047;


        }
        #skillsExp{
            #skillsDate{
                color:rgb(147, 157, 162);
                display: inline;
                padding-bottom:0%;
            }
            .skillsArrow{
                border: solid white;
                border-width: 0px 1px 1px 0px;
                padding:13px;
                margin-right:2%;
                top:1.8vw;
                display: inline-block;
                z-index:2;
                position: relative;
                z-index:9;
                transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
            }

        }
        ul{
            margin-top:0%;
            padding-top:1%;
        }
        p{
            font-size: 1.5vw;
            margin-top:0%;
            padding-left:1%;
        }
    }

}