
<div data-aos="fade-up" class=skills>
    <div parallax id="header">  <h1 >SKILLS</h1></div>

  <div data-aos="fade-up"  id="skillsLeft">
      <p>
          SKILLS</p>
  </div>
  <div id="skillsRight">
    <p style="color:grey;">My skill set:</p>
    <ul>
      <li>HTML5</li>
      <li>CSS3/SCSS</li>
      <li>Angular/Typescript/Javascript</li>
      <li>Photoshop Illustrator & Lightroom</li>
    </ul>


</div>