<div id="container">


  <app-sidebar >  
  </app-sidebar>

  <!--<div id="content">
    <router-outlet></router-outlet>
  

  </div>-->
 
  <app-about id="appabout"></app-about>
  <app-more id="appmore"></app-more>
  <div id="doubleComponent">
      <app-web id="appweb"></app-web>
      <app-education id="appeducation"></app-education>
  </div>
  <app-skills id="appskills"></app-skills>

 

  <app-graphics id="appgraphics"></app-graphics>

  <app-captures id="appcaptures"></app-captures>
  <app-social></app-social>


</div>

