<div id="sidebar">

<nav>
    <a (click)="showmenu()" target="_blank" id="navbarid" class="navbar">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </a>
  <ul id="sidebarMenu">
     
      <li>
          <button [ngx-scroll-to]="'#appmore'" [ngx-scroll-to-offset]="-100" (click)="showmenu()" >about me</button>

    </li>
    <li>
        <button [ngx-scroll-to]="'#appskills'" [ngx-scroll-to-offset]="-100"  (click)="showmenu()" >skills</button>

    </li>
    <li>
        <button [ngx-scroll-to]="'#appweb'" [ngx-scroll-to-offset]="-100"  (click)="showmenu()" >experience</button>
       
      </li>
      <li>
          <button [ngx-scroll-to]="'#appeducation'" [ngx-scroll-to-offset]="-100"  (click)="showmenu()" >education</button>

         
        </li>
        <li>
            <button [ngx-scroll-to]="'#appgraphics'" [ngx-scroll-to-offset]="-100"  (click)="showmenu()" >graphics</button>

          
          </li>
          <li style="border:none;">
              <button [ngx-scroll-to]="'#appcaptures'" [ngx-scroll-to-offset]="-100"  (click)="showmenu()" >captures</button>

              
            </li>
  </ul>
    
</nav>
</div>
