#sidebar{
    position:absolute;
}
nav {
    height: 80px;
    margin-left: 0%;
    top: 0%;
    color: #435352;
    font-size: 2vw;
    font-weight: 200;
    width: 100%;
    z-index: 109;
    position: fixed;
   
  

    .navbar {
        top:0%;
        left:0%;
        position: absolute;
        width: 60px;
        display: block;
        background: rgba(255, 255, 255, 0.746);
        margin: 1% auto;
        margin-left:1%;
        border: 4px solid #242047;
        padding: 8px 10px;
        transition: all 0.5s;
        z-index:109;
        -webkit-transition: all 0.5s;

    }
      
    .navbar div {
        height: 5px !important;
        background: #242047;
        margin: 7px 0px 7px 0px;
        border-radius: 25px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }
      
    .two {
        width: 35px;
    }
      
    .three {
        width: 50px;
    }
      
    .navbar:hover div {
        width: 60px;
    }
      

      
    ul {
        list-style-type: none;
        font-style: normal ;
        padding-left: 8%;
        margin: 0;
        padding-top:1.5%;
        height:65px;
        width:100%;
        display:none;
        background:white;
        z-index:109;
        border-bottom: 1px solid #242047;
        height:100%;
        overflow:hidden;

        li {                
            display: inline-block;
            font-style: normal;
            background: none;
            z-index:109;
            padding-left:1%;
            padding-right:1%;
            border-right: 1px solid #acaac3;
            text-transform: lowercase !important;
          
            button{
                color: #242047;
                list-style: none;
                border:none;
                //text-decoration: underline;
                font-weight: 200;
                list-style: none;
                border: none;
                font-size: 3vw;
                height:100%;
                overflow:hidden;
                outline: none;
                background: none;

            }
            a {
                color: rgb(67, 83, 82);
                padding: 30px;
                width:100%;
                font-style: normal;
            }

            .activated {
                background-color: #00a8ff;
            }
        }
    }
    
}


