

<div data-aos="fade-up" class=more>
    <div parallax id="header">  <h1 >ABOUT ME</h1></div>

  <div data-aos="fade-up"  id="moreLeft"> <p>
      WHO I AM    
  </p>    
</div>
  <div id="moreRight">
    <p style="color:rgb(97, 98, 104);">STELIOS XENAKIS</p>
  <p>
    I am on my BSc in Computer Science and at the moment at my last year of studies. During my 4 years in the University of Crete the fields of HCI, web applications 
    and Computer Graphics are those which mesmerized me. I've always been the creative type. Web Design, Graphic Design and Photography have 
    been on my focus. 
  </p>
  </div>