.more{
    height:400px;
    width:100%;
    padding-top:2%;
    top:0%;
    background-color: white;
    display: grid;
    overflow:hidden;
    grid-template-columns: 35% auto;
    #moreLeft{
        padding-top:0%;
        margin-top:0%;
        font-size:6vw;
        padding-left:12%;
        font-weight:600;
        p{
            padding-left:2%;
            border-left: 5px solid rgb(186, 212, 237);
            top: 0%;
            margin-top: 0%;
        }
    }
    #moreRight{
        padding-left:5%;
        padding-right:5%;
        font-size:2vw;
        font-weight:200;
    }
}