/* You can add global styles to this file, and also import other style files */


body {
    margin: 0;
    background-color: #242047;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    height: 100vh;
    scroll-behavior:smooth;

}
h1{
    margin-left: 5%;
    font-size: 15vw;
    font-weight: bolder;
    color: #f3f5f5b0;
    position: absolute;
    padding-top: 5%;
    margin-left:5%;
    margin-top:0%;
    z-index: -1;
    
   }
#header{
        position: absolute;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

#container {
   display: grid;
   grid-template-rows: 100px auto;
   height: 100%;

   #content {
       padding: 30px 50px;
       height:600px;

       ul {
           list-style-type: none;
           margin:0;padding:0;

       
           li {
               background: #fff;
               border-radius: 8px;
               padding: 20px;
               margin-bottom: 8px;

       
               a {
                   font-size: 1.5em;
                   text-decoration: none;
                   font-weight: bold;
               }
       
               ul {
                   margin-top: 20px;
                   
                   li {
                       padding:0;
       
                       a {
                           font-size: 1em;
                           font-weight: 300;
                       }
                   }
               }
           }
       }
   }
}