.web{
    height:550px;
    width:100%;
    padding-top:0%;
    top:0%;
    background-color: white;
    color:#242047;
    border-top: 1px solid #242047;
    text-decoration: none;
   
 
    #webLeft{
        margin-left:8%;
        font-size: 6vw;
        font-weight:600;
        margin-bottom:0%;
        
        p{
            margin-top:0%;
            margin-bottom:3%;
            padding-left:2%;
            border-left: 5px solid rgb(186, 212, 237);

        }
    }
    #webRight{
        display: grid;
        grid-template-rows: 50% auto;
        margin-left:8%;
        a{
            font-size: 2vw;
            color: #242047;
            text-decoration: none !important;
        }
        
        #webRightFa{
            display: grid;
            grid-template-columns: 10% auto;
            padding-bottom:5%;
            border-bottom: 1px solid  #d8d7e9;

        }
        #webRightVol{
            margin-top:3%;
            display: grid;
            grid-template-columns: 10% auto;
        }
        #webDate{
            font-size: 1vw;
            color:rgb(147, 157, 162);
            display: inline;
            padding-bottom:0%;
        }
        .webArrow{
            border: solid #242047;
            border-width: 0px 1px 1px 0px;
            padding:13px;
            margin-right:2%;
            top:1.8vw;
            display: inline-block;
            z-index:2;
            position: relative;
            z-index:9;
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
        }
       
        p{
            font-size: 2vw;
            margin-top:0%;
            padding-left:1%;
        }
        #webMoreInfo{
            font-size: 1.5vw;
            padding-right:5%;

        }
    }

}