
<div data-aos="fade-up" class=web>
    <div parallax id="header">  <h1 >EXPERIENCE</h1></div>

    <div data-aos="fade-up" id="webLeft">
        <p>
            EXPERIENCE  </p>
          
    </div>

    <div id="webRight">
      <div id="webRightFa">
        <i class="fa fa-briefcase" aria-hidden="true" style="font-size:50px; padding-top:40%;"></i>
        <a href="http://www.stepc.gr/www2/">
               
                  <div id="webDate">June-August 2018</div> <p>Internship</p>
                    <p id="webMoreInfo">Project for the “Science and Technology Park of Crete”. Redevelopment and redesign of the park’s official website.</p>
                  </a>
     </div>
     <div id="webRightVol">
        <i class="fa fa-plus" aria-hidden="true" style="font-size:50px; padding-top:40%;"></i>
        <div>
            <div id="webDate">September 2018</div> <p>Volunteer</p>
            <p id="webMoreInfo">European Researchers' Night, FORTH<br>Organizational support.</p>
          </div>
      </div>
          
      </div>
  
  
  </div>